{% extends "../layout.html.twig" %}

{% block meta %}
  <title>Sokağa Çıkma Yasağı Var mı?</title>
{% endblock %}

{% block body %}
  <div class="container u-text-align-center u-margin-top-large">

    {% include "@components/header/header.html.twig" %}

  </div>
{% endblock %}
