{% extends "../layout.html.twig" %}

{% block meta %}
  <title>Sokağa Çıkma Yasağı Var mı?</title>
{% endblock %}

{% block body %}
  <div class="container u-text-align-center u-margin-top-large">

    {% include "@components/counter/counter.html.twig" with {
      className: 'u-margin-top-large',
      text: 'YASAĞIN BAŞLAMASINA NE KADAR KALDI?',
      date: '2020-04-22T21:00:00+00:00',
    } only %}

    {% include "@components/counter/counter.html.twig" with {
      className: 'u-margin-top-large',
      text: 'YASAĞIN BİTMESİNE NE KADAR KALDI?',
      date: '2020-04-26T21:00:00+00:00',
    } only %}

    {% include "@components/header/header.html.twig" with {
      className: 'u-margin-bottom-large',
    } %}

    <h2 class="u-color-primary u-margin-bottom-0 u-font-weight-500">
      Ne Zaman Yasak?
    </h2>
    <p class="u-margin-top-0 u-margin-bottom-large u-font-size-large">
      23 Nisan Perşembe 00:00 ile 26 Nisan Pazar 23:59 Arasında
    </p>

    {% include "@components/calendar/calender.html.twig" with {
      className: 'u-margin-bottom-large',
      tableTitle: 'Nisan 2020',
    } only %}

  </div>
{% endblock %}
