{% set tableBodyItems = [
  {
    title: 'Marketler',
    tableBodyDataItems: [
      {
        className: null,
        info: '09:00-14:00'
      },
      {
        className: null,
        info: '09:00-14:00'
      },
      {
        className: 'is-closed',
        info: 'Kapalı'
      },
      {
        className: 'is-closed',
        info: 'Kapalı'
      },
    ],
  },
  {
    title: 'Eczaneler',
    tableBodyDataItems: [
      {
        className: null,
        info: 'Açık <br> (Nöbetçi)'
      },
      {
        className: null,
        info: 'Açık <br> (?)'
      },
      {
        className: null,
        info: 'Açık <br> (?)'
      },
      {
        className: null,
        info: 'Açık <br> (Nöbetçi)'
      },
    ],
  },
  {
    title: 'Fırınlar',
    tableBodyDataItems: [
      {
        className: null,
        info: 'Açık <br> (?)'
      },
      {
        className: null,
        info: 'Açık'
      },
      {
        className: null,
        info: 'Açık'
      },
      {
        className: null,
        info: '?'
      },
    ],
  },
  {
    title: 'Akaryakıt <br> (Her 50 km için)',
    tableBodyDataItems: [
      {
        className: null,
        info: 'Açık'
      },
      {
        className: null,
        info: 'Açık'
      },
      {
        className: null,
        info: 'Açık'
      },
      {
        className: null,
        info: '?'
      },
    ],
  },
] %}

{% extends "../layout.html.twig" %}

{% block meta %}
  <title>Sokağa Çıkma Yasağı Var mı?</title>
{% endblock %}

{% block body %}
  <div class="container u-text-align-center u-margin-top-large">

    {% include "@components/counter/counter.html.twig" with {
      className: 'u-margin-top-large',
      text: 'YASAĞIN BAŞLAMASINA NE KADAR KALDI?',
      date: '2020-04-22T21:00:00+00:00',
    } only %}

    {% include "@components/counter/counter.html.twig" with {
      className: 'u-margin-top-large',
      text: 'YASAĞIN BİTMESİNE NE KADAR KALDI?',
      date: '2020-04-26T21:00:00+00:00',
    } only %}

    {% include "@components/header/header.html.twig" with {
      className: 'u-margin-bottom-large',
    } %}

    {% include "@components/section/section.html.twig" with {
      className: 'u-margin-bottom-large',
      title: 'Ne Zaman Yasak?',
      paragraph: '23 Nisan Perşembe 00:00 ile 26 Nisan Pazar 23:59 Arasında',
    } only %}

    {% include "@components/calendar/calender.html.twig" with {
      className: 'u-margin-bottom-large is-centered',
      tableTitle: 'Nisan 2020',
    } only %}

    {% include "@components/section/section.html.twig" with {
      className: 'u-margin-bottom-large',
      title: 'Hangi İllerde Yasak?',
      paragraph: 'Adana, Ankara, Antalya, Aydın, Balıkesir, Bursa, Denizli, Diyarbakır, Erzurum, Eskişehir, Gaziantep, Hatay, İstanbul, İzmir, Kahramanmaraş, Kayseri, Kocaeli, Konya, Malatya, Manisa, Mardin, Mersin, Muğla, Ordu, Sakarya, Samsun, Şanlıurfa, Tekirdağ, Trabzon, Van, Zonguldak',
    } only %}

    {% include "@components/section/section.html.twig" with {
      className: 'u-margin-bottom-large',
      title: 'Kimlere Yasak?',
      paragraph: 'Herkese <br> (İlgili kurumların belirlediği kişiler ve muafiyet belgesi olanlar dışında)',
    } only %}

    {% include "@components/open-places/open-places.html.twig" with {
      className: 'is-centered',
      tableBodyItems: tableBodyItems,
    } only %}

  </div>
{% endblock %}
