<div class="c-credits">
  <a class="c-credits__link" href="https://twitter.com/burakdonertas">Burak Dönertaş</a> tarafından oluşturuldu, <a class="c-credits__link" href="https://github.com/yoktav">Yılmaz Oktav</a> tarafından kodlandı.
</div>
