<header class="{{ html_classes('c-header', className) }}">
  <div class="c-header__sup-title">ŞİMDİ</div>
  <h1 class="c-header__title">
    SOKAĞA ÇIKMA YASAĞI
    <span class="u-font-weight-400">VAR MI?</span>
  </h1>
  <div class="c-header__box c-header__box--green">
    HAYIR
  </div>
  <div class="c-header__box c-header__box--red is-active">
    EVET
  </div>
</header>
